footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul a {
    text-decoration: none;
    color: #999;
}

footer {
    display: inline;
    border-top: 1px solid #d5d5d5;
}
footer p{
    margin-left: 30px;
    margin-right: 30px;
}