footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul a {
    text-decoration: none;
}

.this-footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

footer p{
    margin-left: 30px;
    margin-right: 30px;
}
body {
  padding-top: 70px;
}
.random > .jumbotron{
	background-color: #82e0aa;
}

.white{
	color: white;
}

.light-purple{
    background-color: #f4ecf7;
}

.light-blue{
    background-color: #ebf5fb;
}

.light-green{
    background-color: #eafaf1;
}

.gray{
    background-color: #f9f9f9;
}
.section-box{
    padding-left:0px;
    padding-right:0px;
    padding-top: 50px;
    padding-bottom: 45px;
}
.section-img{
    margin: 5%;
}
.section-header{
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}