html {
  position: relative;
  /*  
  filter: grayscale(100%);
*/
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 84px;
  min-height: 100vh;
}

.this-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  color: #999;
  padding-top: 3px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  font-size: 95%;
}

.shadowy {
  margin-bottom: 20px;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End */
#footer-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-flexbox-item {
  margin-left: 10px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 84px;
  right: 25px;
  display: none;
  z-index: 99;
  color: #808b96;
}

.btn-big {
  font-size: 400%;
}

footer p {
  margin-left: 30px;
  margin-right: 30px;
}

body {
  padding-top: 70px;
}

.center-box {
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

.home-link > li:hover {
  background-color: #d0d3d4;
}

.random > .jumbotron {
  background-color: #82e0aa;
}

.white {
  color: white;
}

.light-purple {
  background-color: #f4ecf7;
}

.light-blue {
  background-color: #ebf5fb;
}

.light-green {
  background-color: #eafaf1;
}

.gray {
  background-color: #f9f9f9;
}
.section-box {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-img {
  margin: 5%;
}
.section-header {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.some-padding {
  margin-top: 25px;
}

.canz-style {
  font-family: sans-serif;
  color: #d35400;
  font-size: 105%;
}

.canz-style-last {
  font-family: sans-serif;
}
.data-box {
  overflow: auto;
}

.deselect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.skip-to-content-link {
  position: absolute;
  transform: translateY(-200%);
}

.skip-to-content-link:focus {
  padding: 0.2rem 1.2rem;
  border-radius: 0.5rem;
  background: orange;
  color: white;
  transform: translateY(0);
  transition: transform 300ms ease-in;
}

.tag {
  position: relative;
  top: -50px;
}

.wide-screen {
  max-width: 99%;
  max-height: 100vh;
}

.quote-font {
  font-family: 'Josefin Sans', sans-serif;
}

pre {
padding: 0;
position: relative;
border: 0;
border-radius: 6px;;
}

pre[rel]:not([rel=""]):before {
  position: absolute;
  font-size: 1.2rem;
  content: attr(rel);
  top: 0.5rem;
  right: 4rem;
  color: orange;
}

.show {
  display: block;
}

button.copy-button {
  color: #f9f9f9;
  position: absolute;
  display: inline-block;
  right: 0.4rem;
  top: 0.4rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.copy-button-msg {
  color:#f9f9f9;
  position: absolute;
  display: inline-block;
  right: 0.4rem;
  top: 3rem;
}

.container a[href*="//"]::after {
  background: url("/pics/external-link-alt-solid.svg") no-repeat top right /1rem;
  content: "";
  padding-left: 1.3rem;
  filter: opacity(70%);
}

@media screen {
  .doNotPrintMsg{
    display: none !important;
  }
}

@media print {
  body>*:not(.doNotPrintMsg){
    display: none !important
  }

  body{
    padding-left: 8%;
    padding-top: 8%;
  }

  .doNotPrintMsg{
    display: block !important;
    font-size:large;
  }
}