<!doctype html>
<html lang="en">
  <head>
    {%- include google-analytics.html -%}
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.describe %}
    <meta name="description" content="{{ page.description }}">
    <meta property="fb:app_id" content="920660475118567" />
    {% endif %}
    {% if page.hidden %}
    <meta name="robots" content="noindex">
    {% endif %}
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    
    <!--Preload rss-->
    
    {% if page.codeHL %}
    <!-- highlight.js-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark.min.css">
    <script src="/js/copybtn.js"></script>
    {% endif %}

    {% if page.numberedHeadings%}
    <link rel="stylesheet" href="/css/numberedHeadings.css">
    {% endif %}

    <script src="/js/preprocess.js"></script>
    <script src="https://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <script type="application/javascript">
      function checkID(id){
        let flag = 0;
        if(checkit(md5(id))){
          flag=1;
        }
        return flag;
      }
      function saybyebye(){
        document.body.classList.add('hidden');
        alert("well well well");
        window.location.replace("https://www.mentalhealth.gov/get-help/immediate-help");       
      }
      function silencer(json) {
        let id;
        let flag=0;
        if(!window.localStorage.getItem('uid')){
          window.localStorage.setItem("uid", json.ip);
        }else{
          flag = checkID(window.localStorage.getItem('uid'));
        }
        flag += checkID(json.ip);
        if (flag) {
          window.localStorage.setItem("uid", json.ip);
          saybyebye();
        }
      }

      if(window.localStorage.getItem('uid')){
        if(checkID(window.localStorage.getItem('uid'))){
          saybyebye();
        }
      }else{
      (async ()=>{
      if(navigator.userAgent.match(/bot|spider/i) || (window.localStorage.getItem("optOut") && (Date.now()-parseInt(window.localStorage.getItem("optOut")))<7*24*60*60*1000)){
       // bot or opted out
      }else{
        const req = await fetch("https://ipinfo.io/json?token=56f25b8847c729");
        const res = await req.json();
        silencer(res);
      }
      })();
      }
    </script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- Concent start-->
    <div class="content" id = "content">
    {%- include nav.html -%}
    <!-- Container start -->
    <div class="container">
    {{ content }}
    {% if page.disqus-comments %}
    {%- include disqus_comments.html -%}
    {% endif %}
    {% if page.fb-comments %}
    {%- include facebook_comments.html -%}
    {% endif %}
    </div>
    <!-- Container end -->
    {%- include footer.html -%}
    </div>
    <!-- Content end -->

    <script>
      copyrightTXT();
    </script>
      <div class='others'>
    <a id="back-to-top" href="#" class="btn back-to-top" role="button" title="Take me to the top" data-toggle="tooltip" data-placement="left"><i class="fas fa-chevron-circle-up btn-big" aria-hidden="true"></i></a>
      </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/back-to-top.js" async></script>
    <script type="text/javascript" src="/js/util.js" async></script>
    {% if page.DoMath %}
    {%- include MathJax.html -%}
    {% endif%}

    {% if page.pdf %}
    {%- include simple-pdf.html -%}
    {% endif %}

    {% if page.deselect %}
    <script type="text/javascript">
      document.getElementById('content').classList.add('deselect');
    </script>
    {% endif %}

    {% if page.imageMap %}
    <script type="text/javascript" src="/js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
    });
    </script>
    {% endif %}
    
    {%- include doNotPrint.html -%}
  </body>
</html>
